@font-face {
  font-family: 'Nunito';
  src: url('../assets/fonts/nunito.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../assets/fonts/nunito-italic.ttf') format('truetype');
  font-style: italic;
}
