@import url("fonts.css");

body {
  background-color: #FBFBEE;
  font-family: "Nunito";
  margin: 18px;
}

#main-nav {
  background-color: white;
  border: 3px solid #4B624C;
  margin: 18px;
  padding: 18px 28px;
  font-size: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#left-nav {
  display: flex;
  flex-direction: row;
  gap: 36px;
}