@import url("fonts.css");

html, body, body *{
  box-sizing: border-box;
}

body {
  background-color: #FBFBEE;
  font-family: "Nunito";
  margin: 18px;
}

#main-nav {
  position: absolute;
  top: 18px;
  left: 18px;
  right: 18px;
  background-color: white;
  border: 3px solid #4B624C;
  padding: 18px 28px;
  font-size: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#left-nav {
  display: flex;
  flex-direction: row;
  gap: 36px;
}

#tools-nav {
  padding: 18px 28px;
  position: absolute;
  left: 18px;
  top: 100px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

#add-image, #settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-family: "Nunito";
  font-size: 24px;
  padding: 18px 28px;
  padding-bottom: 8px;
}

#add-image {
  background-color: #FFE1E3;
  border: 4px solid #FFADB2;
  border-bottom-width: 8px;
  border-radius: 18px;
  width: 180px;
}

#add-image img {
  max-width: 100%;
}

#settings {
  width: 180px;
  margin-bottom: 18px;
  padding: 0;
}

#settings img {
  width: 48px;
}

#fabric-canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -10;
}

#html-canvas {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
}